<h1>Memory Game</h1>
<hr />
<button id="show_instructions">Show Instructions</button>
<button id="new_game">New Game</button>
<button id="reset_game">Reset Current Game</button>

<div class="info_div hide">
Click two tiles at a time and try to match the numbers. Good luck!
</div>
<hr />

<table> 
  <tbody>
    <tr> 
      <td> </td> 
      <td> </td> 
      <td> </td> 
      <td> </td> 
    </tr>

    <tr> 
      <td> </td> 
      <td> </td> 
      <td> </td> 
      <td> </td> 
    </tr>

    <tr> 
      <td> </td> 
      <td> </td> 
      <td> </td> 
      <td> </td> 
    </tr>

    <tr> 
      <td> </td> 
      <td> </td> 
      <td> </td> 
      <td> </td> 
    </tr>
  </tbody>
</table>