<h1>Memory Game</h1>
<hr />
<button id="show_instructions">Show Instructions</button>
<button id="new_game">New Game</button>
<button id="reset_game">Reset Current Game</button>

<div class="info_div hide">
Click two tiles at a time and try to match the numbers. Good luck!
</div>
<hr />

<table> 
  <tbody>
    <tr> 
      <td id="1"><span class="hide"></span></td> 
      <td id="2"><span class="hide"></span></td> 
      <td id="3"><span class="hide"></span></td> 
      <td id="4"><span class="hide"></span></td> 
    </tr>

    <tr> 
      <td id="5"><span class="hide"></span></td> 
      <td id="6"><span class="hide"></span></td> 
      <td id="7"><span class="hide"></span></td> 
      <td id="8"><span class="hide"></span></td> 
    </tr>

    <tr> 
      <td id="9"><span class="hide"></span></td> 
      <td id="10"><span class="hide"></span></td> 
      <td id="11"><span class="hide"></span></td> 
      <td id="12"><span class="hide"></span></td>  
    </tr>

    <tr> 
      <td id="13"><span class="hide"></span></td> 
      <td id="14"><span class="hide"></span></td> 
      <td id="15"><span class="hide"></span></td> 
      <td id="16"><span class="hide"></span></td> 
    </tr>
  </tbody>
</table>